<div class="flex items-center justify-center relative w-full h-fit py-3 bg-primary shadow-header z-30">
  <div
    aria-hidden="true"
    class="absolute bg-transparent left-0 -bottom-12 h-12 w-7 rounded-tl-full shadow-rounded-corners-header shadow-primary"
  >
  </div>
  <div
    aria-hidden="true"
    class="absolute bg-transparent right-0 -bottom-12 h-12 w-7 rounded-tr-full shadow-rounded-corners-header shadow-primary"
  >
  </div>

  <span class="z-20 font-title text-2xl">MAPEADOR DE INVENÇÕES</span>
</div>
